# this will set the user/password credentials on all Ops services for a local deployment
SERVICES_USER=admin
SERVICES_PASSWORD=adminadmin

# Simcore deployment -------------------------------------------------------
# define the stack prefix name 
# 1. stack name = PREFIX_STACK_NAME-SIMCORE_STACK_NAME
# 2. inside stack services are named as in webserver -> PREFIX_STACK_NAME_webserver
PREFIX_STACK_NAME=production
SIMCORE_STACK_NAME=production-z43
# set the image tag the deployment-agent will use to deploy the simcore stack
SIMCORE_IMAGE_TAG=latest

# Manager ips. Defined automatically with deployment scripts.
MANAGER_PRIVATE_ENDPOINT_IP=172.16.8.203
MANAGER_PUBLIC_ENDPOINT_IP=195.176.8.200

# defined domain names
MACHINE_FQDN=osparc.speag.com
MONITORING_DOMAIN=monitoring.${MACHINE_FQDN}
PORTAINER_DOMAIN=portainer.${MACHINE_FQDN}
STORAGE_DOMAIN=storage.${MACHINE_FQDN}
REGISTRY_DOMAIN=registry.${MACHINE_FQDN}
API_DOMAIN=api.${MACHINE_FQDN}


# Ops configurations ------------------------------------------------------

# Traefik (Default password for all the monitoring services)
TRAEFIK_USER=admin
TRAEFIK_PASSWORD=pandasles

# Graylog
GRAYLOG_LOGIN=${TRAEFIK_USER}
GRAYLOG_ROOT_PASSWORD=${TRAEFIK_PASSWORD}

# S3
S3_ACCESS_KEY=gfhfgh765gjtyjtj
S3_SECRET_KEY=fjghjgjdsdg345
S3_ENDPOINT=${STORAGE_DOMAIN}
S3_BUCKET=${PREFIX_STACK_NAME}-simcore
S3_SECURE=1

# registry
REGISTRY_USER=${TRAEFIK_USER}
REGISTRY_PW=${TRAEFIK_PASSWORD}
REGISTRY_AUTH=True
REGISTRY_SSL=False
REGISTRY_S3_ACCESS_KEY=${S3_ACCESS_KEY}
REGISTRY_S3_SECRET_KEY=${S3_SECRET_KEY}
REGISTRY_S3_BUCKET=${REGISTRY_DOMAIN}
REGISTRY_S3_ENDPOINT=${S3_ENDPOINT}
REGISTRY_S3_SECURE="true"
REGISTRY_AWS_REGION=us-east-1

# Redis-commander
REDIS_HOST=${PREFIX_STACK_NAME}_redis
REDIS_PORT=6379

# Minio
MINIO_NUM_MINIOS=2
MINIO_NUM_PARTITIONS=3

# Mail server
SMTP_HOST=smtp.${MACHINE_FQDN}
SMTP_PORT=25
SMTP_USERNAME=support@${MACHINE_FQDN}
SMTP_PASSWORD=hkbjfgfg
SMTP_TLS_ENABLED=1

# Monitoring
POSTGRES_GRAFANA_USER=grafanareader
POSTGRES_GRAFANA_PASSWORD=sdfsdjndgdgd

# Simcore configuration -------------------------------------------------------
# Postgres
POSTGRES_DB=simcoredb
POSTGRES_HOST=${PREFIX_STACK_NAME}_postgres
POSTGRES_ENDPOINT=${PREFIX_STACK_NAME}_postgres:5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ghj56fgf
POSTGRES_PORT=5432

# Rabbit
RABBIT_PORT=5672
RABBIT_HOST=${PREFIX_STACK_NAME}_rabbit
RABBIT_LOG_CHANNEL=comp.backend.channels.log
RABBIT_PROGRESS_CHANNEL=comp.backend.channels.progress
RABBIT_USER=${TRAEFIK_USER}
RABBIT_PASSWORD=${TRAEFIK_PASSWORD}

# Portainer
PORTAINER_USER=${TRAEFIK_USER}
PORTAINER_PASSWORD=${TRAEFIK_PASSWORD}


# Webserver
WEBSERVER_LOGIN_REGISTRATION_CONFIRMATION_REQUIRED=1
WEBSERVER_LOGIN_REGISTRATION_INVITATION_REQUIRED=1
WEBSERVER_STUDIES_ACCESS_ENABLED=1

# DNS Challenge - Domain provider config
AWS_ACCESS_KEY_ID=AKIAUYOAHQSO4LH6NKVK
AWS_SECRET_ACCESS_KEY=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
AWS_HOSTED_ZONE_ID=ZEQJTILXBUDP1

# Prometheus retention
PROMETHEUS_RETENTION=120d

# Do not touch, automatically generated
WEBSERVER_SESSION_SECRET_KEY=b'bHexCVO6Lazx1io9lgPTuP68fKuD6DLIWyth88tiqmM='

# Deployment agent config
TAGS_OPS_repo=^v[0-9]+.[0-9]+.[0-9]+$
# Theses services won't be deployed by the agent in the simcore stack
EXCLUDED_SIMCORE_SERVICES="webclient"